// // Variable overrides second
$tt-transparent: transparent;
$tt-white: rgba(255, 255, 255, 1);
$tt-black: rgba(57, 57, 57, 1);
$tt-green-light: rgba(235, 247, 235, 1);
$tt-green: rgb(73, 179, 72);
$tt-green-dark: rgba(51, 160, 50, 1);
$tt-gray-light: rgb(250, 250, 250);
$tt-gray: rgb(222, 222, 222);
$tt-gray-dark: rgb(194, 194, 194);
$tt-blue: rgba(68, 96, 197, 1);
$tt-skin: rgb(255, 188, 200);
$tt-purple: rgb(63, 61, 86);

$enable-shadows: true;
$prefix: "tt-";

$modal-fade-transform: none;

$container-max-widths: (
  xxs: 100%,
  xs: 100%,
  sm: 480px,
  md: 714px,
  lg: 930px,
  xl: 1224px
);

$grid-breakpoints: (
  xxs: 0,
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1320px,
  xxl: 1920px,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  12px: 12px,
  20px: 20px,
  28px: 28px,
  32px: 32px,
  40px: 40px,
  50px: 50px,
  60px: 60px,
  100px: 100px,
);
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
  28px: 28px,
  40px: 40px,
  60px: 60px
);