.hero {
    height: 1110px;
    background-image: url('/images/circles.svg');
    background-repeat: no-repeat;
    background-position: center -510px;
    background-size: 1920px auto;

    &__content {
        margin-top: 226px;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
}