.pains {
    &-box {
        border: 2px solid $tt-green;
        padding: 60px 100px;
        border-radius: 16px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;

        &__title {
            max-width: 320px;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .form-check {
            margin-top: -10px;
        }
    }

    @media (max-width: 991px) {
        &-box {
            padding: 30px 30px;
        }
    }

    @media (max-width: 768px) {
        &-box {
            padding: 0;
            border: none;
        }
    }
}