.quality {
    &__solutions {
        .quality__list {
            gap: 236px;
        }
    }

    &__migrations {
        .quality__list {
            gap: 160px;
        }
    }

    @media (max-width: 991px) {
        &__solutions {
            .quality__list {
                gap: 60px;
            }
        }

        &__migrations {
            .quality__list {
                gap: 60px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            .btn {
                height: 40px;

                img {
                    height: 16px;
                }

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__image {
            &.image--1 {
                width: 510px;
                height: 492px;
                background-image: url('/images/quality/image-5.png');
                background-repeat: no-repeat;
                background-position: left bottom;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .image-box {
                    width: 136px;
                    height: calc((136 * 3) + (20 * 2));
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 20px;
                }

                .image-item {
                    width: 136px;
                    height: 136px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: background-image 1.5s;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 1;

                        transition: opacity 1.5s;
                    }

                    svg {
                        position: absolute;
                    }

                    &--1 {
                        background-image: url('/images/quality/image-1/image-1.svg');

                        &::after {
                            background-image: url('/images/quality/image-1/image-1-color.svg');
                        }

                        svg {
                            left: -115px;
                            top: 100px;

                            path {
                                animation: 1s infinite linear runToRight, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToRight, 1.5s removeColor forwards
                                }
                            }
                        }
                    }

                    &--2 {
                        background-image: url('/images/quality/image-1/image-2.svg');

                        &::after {
                            background-image: url('/images/quality/image-1/image-2-color.svg');
                        }

                        svg {
                            left: -35px;
                            top: 70px;

                            path {
                                animation: 1s infinite linear runToLeft, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToLeft, 1.5s removeColor forwards
                                }
                            }
                        }
                    }

                    &--3 {
                        background-image: url('/images/quality/image-1/image-3.svg');

                        &::after {
                            background-image: url('/images/quality/image-1/image-3-color.svg');
                        }

                        svg {
                            left: -115px;
                            top: -5px;

                            path {
                                animation: 1s infinite linear runToRight, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToRight, 1.5s removeColor forwards
                                }
                            }
                        }
                    }
                }

                @media (max-width: 1320px) {
                    width: 415px;
                    height: 410px;
                    background-size: 400px;

                    .image-box {
                        width: 120px;
                    }

                    .image-item {
                        width: 120px;
                        height: 120px;

                        &--1 {
                            svg {
                                left: -100px;
                                top: 90px;
                                width: 95px;
                            }
                        }

                        &--2 {
                            svg {
                                left: -30px;
                                top: 62px;
                                width: 25px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -100px;
                                top: -15px;
                                width: 95px;
                            }
                        }
                    }
                }

                @media (max-width: 480px) {
                    width: 320px;
                    height: 314px;
                    background-size: 300px;

                    .image-box {
                        width: 90px;
                    }

                    .image-item {
                        width: 90px;
                        height: 90px;

                        &--1 {
                            svg {
                                left: -85px;
                                top: 65px;
                                width: 80px;
                            }
                        }

                        &--2 {
                            svg {
                                left: -27px;
                                top: 50px;
                                width: 25px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -85px;
                                top: -20px;
                                width: 80px;
                            }
                        }
                    }
                }
            }

            &.image--2 {
                width: 510px;
                height: 560px;
                background-image: url('/images/quality/image-6.png');
                background-repeat: no-repeat;
                background-position: 8px bottom;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .image-box {
                    width: 136px;
                    height: calc((136 * 3) + (20 * 2));
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 20px;

                    &--2 {
                        margin-top: 80px;
                    }
                }

                .image-item {
                    width: 136px;
                    height: 136px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 1;

                        transition: opacity 1.5s;
                    }

                    svg {
                        position: absolute;
                        z-index: -1;
                    }

                    &--1 {
                        transition: background-image 1.5s;
                        background-image: url('/images/quality/image-2/image-1.svg');

                        &::after {
                            background-image: url('/images/quality/image-2/image-1-color.svg');
                        }

                        svg {
                            right: -110px;
                            top: 70px;
                            width: 105px;

                            path {
                                animation: 1s infinite linear runToRight, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToRight, 1.5s removeColor forwards
                                }
                            }
                        }
                    }

                    &--2 {
                        transition: background-image 1.5s;
                        background-image: url('/images/quality/image-2/image-2.svg');

                        &::after {
                            background-image: url('/images/quality/image-2/image-2-color.svg');
                        }

                        svg {
                            right: -33px;
                            top: 70px;
                            width: 30px;

                            path {
                                animation: 1s infinite linear runToLeft, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToLeft, 1.5s removeColor forwards
                                }
                            }
                        }
                    }

                    &--3 {
                        transition: background-image 1.5s;
                        background-image: url('/images/quality/image-2/image-3.svg');

                        &::after {
                            background-image: url('/images/quality/image-2/image-3-color.svg');
                        }

                        svg {
                            left: -35px;
                            top: 65px;
                            width: 30px;

                            path {
                                animation: 1s infinite linear runToLeft, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }
           

                            svg {
                                path {
                                    animation: 1s infinite linear runToLeft, 1.5s removeColor forwards
                                }
                            }
                        }
                    }

                    &--4 {
                        transition: background-image 1.5s;
                        background-image: url('/images/quality/image-2/image-4.svg');

                        &::after {
                            background-image: url('/images/quality/image-2/image-4-color.svg');
                        }

                        svg {
                            left: -115px;
                            top: 30px;
                            width: 105px;

                            path {
                                animation: 1s infinite linear runToRight, 1.5s addColor forwards
                            }
                        }

                        &.colored {
                            &::after {
                                opacity: 1;
                            }

                            svg {
                                path {
                                    animation: 1s infinite linear runToRight, 1.5s removeColor forwards
                                }
                            }
                        }
                    }
                }

                @media (max-width: 1320px) {
                    width: 420px;
                    height: 470px;
                    background-size: 400px;
                    background-position: 15px bottom;

                    .image-box {
                        width: 120px;

                        &--2 {
                            margin-top: 80px;
                        }
                    }

                    .image-item {
                        width: 120px;
                        height: 120px;

                        &--1 {
                            svg {
                                right: -100px;
                                top: 62px;
                                width: 105px;
                            }
                        }

                        &--2 {
                            svg {
                                right: -30px;
                                top: 62px;
                                width: 27px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -30px;
                                top: 65px;
                                width: 27px;
                            }
                        }

                        &--4 {
                            svg {
                                left: -90px;
                                top: 20px;
                                width: 105px;
                            }
                        }
                    }
                }

                @media (max-width: 480px) {
                    width: 320px;
                    height: 360px;
                    background-size: 300px;
                    background-position: 10px bottom;

                    .image-box {
                        width: 90px;

                        &--2 {
                            margin-top: 45px;
                        }
                    }

                    .image-item {
                        width: 90px;
                        height: 90px;

                        &--1 {
                            svg {
                                right: -75px;
                                top: 45px;
                                width: 80px;
                            }
                        }

                        &--2 {
                            svg {
                                right: -20px;
                                top: 45px;
                                width: 20px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -20px;
                                top: 60px;
                                width: 25px;
                            }
                        }

                        &--4 {
                            svg {
                                left: -70px;
                                top: 15px;
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes runToRight {
    from {
        stroke-dashoffset: 16.98
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes runToLeft {
    from {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 16.98
    }
}

@keyframes addColor {
    from {
        stroke: $tt-green;
    }

    to {
        stroke: $tt-black;
    }
}

@keyframes removeColor {
    from {
        stroke: $tt-black;
    }

    to {
        stroke: $tt-green;
    }
}