.quality {
    &__solutions {
        .quality__list {
            gap: 236px;
        }
    }

    &__migrations {
        .quality__list {
            gap: 160px;
        }
    }

    @media (max-width: 991px) {
        &__solutions {
            .quality__list {
                gap: 60px;
            }
        }

        &__migrations {
            .quality__list {
                gap: 60px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            .btn {
                height: 40px;

                img {
                    height: 16px;
                }

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__image {
            &.image--1 {
                width: 510px;
                height: 492px;
                background-image: url('/images/quality/image-5.png');
                background-repeat: no-repeat;
                background-position: left bottom;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .image--1__el {
                    width: 136px;
                    height: calc((136 * 3) + (20 * 2));
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 20px;

                    &--item {
                        width: 136px;
                        height: 136px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        transition: background-image 1.5s;
                        position: relative;

                        svg {
                            path {
                                transform: stroke 1.5s;
                            }
                        }

                        &.colored {
                            svg {
                                path {
                                    stroke: $tt-green;
                                }
                            }
                        }
                    }

                    &--1 {
                        background-image: url('/images/quality/image-1/image-1.svg');

                        &.colored {
                            background-image: url('/images/quality/image-1/image-1-color.svg');
                        }

                        svg {
                            position: absolute;
                            left: -115px;
                            top: 100px;
                        }
                    }

                    &--2 {
                        background-image: url('/images/quality/image-1/image-2.svg');

                        &.colored {
                            background-image: url('/images/quality/image-1/image-2-color.svg');
                        }

                        svg {
                            position: absolute;
                            left: -35px;
                            top: 70px;
                        }
                    }

                    &--3 {
                        background-image: url('/images/quality/image-1/image-3.svg');

                        &.colored {
                            background-image: url('/images/quality/image-1/image-3-color.svg');
                        }

                        svg {
                            position: absolute;
                            left: -115px;
                            top: -5px;
                        }
                    }
                }

                @media (max-width: 1320px) {
                    width: 415px;
                    height: 410px;
                    background-size: 400px;

                    .image--1__el {
                        width: 120px;

                        &--item {
                            width: 120px;
                            height: 120px;
                        }

                        &--1 {
                            svg {
                                left: -100px;
                                top: 90px;
                                width: 95px;
                            }
                        }

                        &--2 {
                            svg {
                                left: -30px;
                                top: 62px;
                                width: 25px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -100px;
                                top: -15px;
                                width: 95px;
                            }
                        }
                    }
                }

                @media (max-width: 480px) {
                    width: 320px;
                    height: 314px;
                    background-size: 300px;

                    .image--1__el {
                        width: 90px;

                        &--item {
                            width: 90px;
                            height: 90px;
                        }

                        &--1 {
                            svg {
                                left: -85px;
                                top: 65px;
                                width: 80px;
                            }
                        }

                        &--2 {
                            svg {
                                left: -27px;
                                top: 50px;
                                width: 25px;
                            }
                        }

                        &--3 {
                            svg {
                                left: -85px;
                                top: -20px;
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}