* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: $tt-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;

    padding-top: 120px;

    @media (max-width: 991px) {
        padding-top: 0;
    }
}

section {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 480px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    @media (max-width: 360px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

img {
    max-width: 100%;
}
