.header {
    min-height: 89px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-controls {
        display: flex;
        gap: 10px;
    }

    .navbar {
        padding: 30px 0;
    }
    
    .navbar-brand {
        display: block;
        padding: 0;

        img {
            display: block;
            width: 100%;
        }

        @media (max-width: 990px) {
            max-width: 124px;
        }
    }

    .navbar-toggler {
        background-color: $tt-white;
        width: 34px;
        height: 18px;
        border-radius: 15px;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: none;
        padding: 0;

        span {
            display: block;
            height: 2px;
            min-height: 2px;
            background-color: $tt-green;
            border-radius: 2px;
            width: 34px;
        }

        @media (max-width: 990px) {
            display: flex;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                transition: color .3s;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                color: $tt-black;
                padding: 15px 20px;

                &:hover {
                    color: $tt-green;
                }

                &.active, &:active {
                    color: $tt-green-dark;
                }
            }

            .dropdown-menu {
                background-color: $tt-white;

                .dropdown-item {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 500;
                    // color: $secondary;

                    &.active {
                        background-color: $tt-white;
                        // color: $secondary-hovered;
                    }
    
                    &:hover {
                        background-color: $tt-white;
                        // color: $secondary-hovered;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            @media (max-width: 1320px) {
                .nav-link {
                    font-size: 14px;
                    line-height: 19px;
                    padding: 14px 16px;
                }
            }
        }
    }
}